---
const today = new Date();
---

<footer class='container mt-8'>
  </div>

	<div class='border-t py-5 dark:border-t-zinc-700'>
    <div class="prose justify-between text-[1rem] leading-7 text-zinc-600 dark:prose-invert dark:text-zinc-300 md:flex">
      <div>Copyright © {today.getFullYear()}</div>
      <!-- Please leave the credit if you dont make a significant changes to the template. It's just a nofollow link :)  -->
      <div> powered by Astro, and <a href="https://github.com/devaradise/devolio" target="_blank">devaradise</a> </div>      
    </div>
	</div>
</footer>
