---
import Author from '../Author.astro';
---

<div class='about-the-author py-4 border-b'>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Warongkon is a Software Developer with 4 years of experience building high-performance, scalable solutions and RESTful APIs.
		</p>
		<p>He specializes in C#, TypeScript, Angular, and .NET, following Clean Code and SOLID principles to drive impactful software solutions.</p>
	</div>
</div>
