---
import Author from '../Author.astro';
---

<div class='about-the-author border-b py-5 dark:border-b-zinc-700'>
	<h3 class='mb-5 text-[1.02rem] font-extrabold uppercase tracking-wide'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc my-5 text-[1.08rem] leading-8 text-zinc-700 dark:text-zinc-200'>
		<p class='mb-3'>
			Warongkon is a Software Developer with 4 years of experience building high-performance, scalable solutions and RESTful APIs.
		</p>
		<p>He specializes in C#, TypeScript, Angular, and .NET, following Clean Code and SOLID principles to drive impactful software solutions.</p>
	</div>
</div>
