---
import { SITE_TITLE, SITE_TAGLINE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import type { CollectionEntry } from 'astro:content';
import Prose from '../components/Prose.astro';
import { projects } from './projects/projects';
import ProjectList from '../components/ProjectList.astro'
import PostItem from '../components/PostItem.astro';

type BlogPost = CollectionEntry<'blog'>;

const top6Projects = projects.slice(0, 6);
const posts = (await getCollection('blog')).sort((a: BlogPost, b: BlogPost) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()).slice(0, 5);
---

<BaseLayout title={SITE_TITLE + ' - ' + SITE_TAGLINE} description={SITE_DESCRIPTION}>
	<div class='container'>
    <div class='mb-12 w-full md:flex md:items-center md:gap-16'>
      <div class="text-pretty">
        <h1 class="mb-5 text-5xl font-bold leading-tight">Warongkon Blog </h1>
        <Prose>
          <div>
            Hi, I’m Warongkon – an enthusiastic Software Developer with 4 years of experience, specializing in C#, TypeScript, Angular, ASP.NET Core, SQL Server, and MongoDB. I’m passionate about leveraging my love for C# to build high-performance, scalable solutions and RESTful APIs, following Clean Code and SOLID principles to drive efficient development workflows and impactful software solutions. </div>
        </Prose>
      </div>
		</div>
		<main>
      <div class='mt-6 mb-12'>
        <div class="mb-2 flex justify-between gap-3 border-b dark:border-b-zinc-700">
          <h2 class="mb-4 text-2xl font-bold">Recent Posts</h2>
          <a href="/posts/" class="inline-block py-2 text-[1.08rem] font-bold underline dark:prose-invert">All posts &raquo;</a>
        </div>
        <div>
          {
            posts.map((post: BlogPost) => (
              <PostItem post={post} />
            ))
          }      
        </div>
        <div class="text-right">
        </div>
      </div>
      <div>
        <div class="mb-2 flex justify-between gap-3">
          <h2 class="mb-4 text-2xl font-bold">My Projects</h2>
          <a href="/projects/" class="inline-block py-2 text-[1.08rem] font-bold underline dark:prose-invert">All projects &raquo;</a>
        </div>
        <ProjectList projects={top6Projects}/>
      </div>
		</main>
	</div>
</BaseLayout>
