---
import { Image } from 'astro:assets';
import Ava from '@src/assets/img/ava.jpg';

type PicSize = 'sm' | 'md' | 'lg';
interface Props {
	picSize: PicSize;
}
const { picSize } = Astro.props;
---

<div class='not-prose flex items-center gap-5 leading-tight'>
	<a
		href='https://github.com/jkstudio99'
		target='_blank'
		rel='noopener noreferrer'
		class:list={[
			'rounded-full overflow-hidden shrink-0',
			{ 'w-12 h-12': picSize === 'sm' },
			{ 'w-[82px] h-[82px]': picSize === 'md' },
			{ 'w-[104px] h-[104px]': picSize === 'lg' }
		]}
	>
		<Image src={Ava} alt='Warongkon Fukthongyoo' />
	</a>
	<div>
		<div>
			<a
				href='https://github.com/jkstudio99'
				class='block text-[1.12rem] font-bold text-inherit hover:text-[var(--link-color)]'
				target='_blank'
				rel='noopener noreferrer'
			>
				Warongkon Fukthongyoo
			</a>
		</div>
		<small class='avatar__subtitle text-[0.98rem] text-zinc-600 dark:text-zinc-300'>Software Developer</small>
	</div>
</div>
